# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/

# ==============================
# Python cache
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment variables
# ==============================
.env
.env.*

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS Code
# ==============================
.vscode/